flask==2.0.3
Werkzeug==2.0.3
numpy==1.24.3
pandas==1.5.3
pillow==9.0.1
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow_cpu-2.13.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
openpyxl==3.0.10
gunicorn==20.1.0
click==8.0.4
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.1.1 